[Unit]
Description=Check the repository for updates every 24 hours.
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=always
RestartSec=5
User="exec $USER"
ExecStart=/usr/bin/env python "exec $HOME/repository/bin/service.py"

[Install]
WantedBy=multi-user.target